In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

In [32]:
file = 'C:/Users/ejohnso/Documents/Data Work/Python Project GA/EloquaDataWithPipeline_updated2.csv'
data = pd.read_csv(file)

C:\Users\ejohnso\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
data.columns
# TO DO: update column names

Index(['C_Country', 'C_DateCreated', 'C_DateModified', 'C_Firm_Type1',
       'C_Function___Role_Type1', 'C_Last_Direct_Push_to_CRM_Date1',
       'C_Lead_Score', 'C_Lead_Source___Most_Recent1',
       'C_Lead_Source___Original1', 'C_MQL_Date1', 'C_MQL_Model1',
       'C_Most_Recent_Source_Description1', 'C_Product_Solution_of_Interest1',
       'C_Recycle_Date1', 'C_Region1', 'C_Segment1', 'C_State_Prov',
       'C_Sub_Segment1', 'C_Title', 'C_Unsubscribe_from_Product_Training_1',
       'C_Unsubscribed_from_Industry_1', 'C_Unsubscribed_from_Marketing_1',
       'C_Zip_Postal', 'Contact/Lead Score', 'Days to Closed Opportunity',
       'Days to Opportunity', 'Derived Direct Product Leads', 'FirstVisitDate',
       'Global/Individual Account', 'IS SAL?', 'Number of Records',
       'Opportunity Close Date', 'Opportunity Created Date', 'Opportunity ID',
       'Opportunity Recurring ACV (USD)', 'Opportunity Sales Stage',
       'Opportunity Type', 'Passback Reason', 'Product of Interest', 'Product',
       'Sales Assigned Date', 'Sales Task Created Date', 'Selling Team',
       'Task Owner Selling Team', 'Task Priority', 'Task Status',
       'TotalPagesViewed', 'TotalWebVisitis'],
      dtype='object')

In [34]:
data.head()

,C_Country,C_DateCreated,C_DateModified,C_Firm_Type1,C_Function___Role_Type1,C_Last_Direct_Push_to_CRM_Date1,C_Lead_Score,C_Lead_Source___Most_Recent1,C_Lead_Source___Original1,C_MQL_Date1,...,Product of Interest,Product,Sales Assigned Date,Sales Task Created Date,Selling Team,Task Owner Selling Team,Task Priority,Task Status,TotalPagesViewed,TotalWebVisitis
0,United Kingdom,12/18/2017 10:39,7/20/2018 18:55,Registered Investment Advisory Firm (RIA),Other,2/5/2018 0:00,NaN,Display Advertising,Display Advertising,2/5/2018 7:02,...,NaN,NaN,2/5/2018 0:00,2/5/2018 12:20,NaN,UK Adviser Services,Normal,Completed,19,5
1,United Kingdom,6/10/2013 4:08,2/20/2018 13:49,Registered Investment Advisory Firm (RIA),Registered Investment Advisor/Financial Planner,NaN,NaN,Morningstar Hosted Event,3rd Party Database,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
2,Ireland,7/26/2017 17:55,4/13/2018 9:36,"Pension, Endowment, Foundation",Executive Management,NaN,NaN,Nurture,Paid Social,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
3,United States,5/1/2014 13:27,10/17/2017 12:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
4,United States,2/21/2014 16:43,7/17/2018 14:10,Broker/Dealer,Registered Investment Advisor/Financial Planner,NaN,A3,Morningstar Hosted Event,3rd Party Database,12/20/2017 14:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,4

In [36]:
data.shape

(255842, 48)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255842 entries, 0 to 255841
Data columns (total 48 columns):
C_Country                                221806 non-null object
C_DateCreated                            255842 non-null object
C_DateModified                           255842 non-null object
C_Firm_Type1                             106659 non-null object
C_Function___Role_Type1                  100675 non-null object
C_Last_Direct_Push_to_CRM_Date1          28458 non-null object
C_Lead_Score                             12555 non-null object
C_Lead_Source___Most_Recent1             206046 non-null object
C_Lead_Source___Original1                209104 non-null object
C_MQL_Date1                              39051 non-null object
C_MQL_Model1                             32408 non-null object
C_Most_Recent_Source_Description1        207794 non-null object
C_Product_Solution_of_Interest1          0 non-null float64
C_Recycle_Date1                          26088 non-null object
C_Region1                                0 non-null float64
C_Segment1                               115392 non-null object
C_State_Prov                             139177 non-null object
C_Sub_Segment1                           0 non-null float64
C_Title                                  94022 non-null object
C_Unsubscribe_from_Product_Training_1    197105 non-null float64
C_Unsubscribed_from_Industry_1           250898 non-null float64
C_Unsubscribed_from_Marketing_1          251323 non-null object
C_Zip_Postal                             136701 non-null object
Contact/Lead Score                       33840 non-null object
Days to Closed Opportunity               2902 non-null float64
Days to Opportunity                      2902 non-null float64
Derived Direct Product Leads             34859 non-null float64
FirstVisitDate                           255842 non-null object
Global/Individual Account                10866 non-null object
IS SAL?                                  34859 non-null object
Number of Records                        255842 non-null int64
Opportunity Close Date                   2902 non-null object
Opportunity Created Date                 2902 non-null object
Opportunity ID                           2902 non-null object
Opportunity Recurring ACV (USD)          2902 non-null float64
Opportunity Sales Stage                  2902 non-null object
Opportunity Type                         2902 non-null object
Passback Reason                          4574 non-null object
Product of Interest                      15824 non-null object
Product                                  2902 non-null object
Sales Assigned Date                      34851 non-null object
Sales Task Created Date                  34859 non-null object
Selling Team                             2895 non-null object
Task Owner Selling Team                  34498 non-null object
Task Priority                            34859 non-null object
Task Status                              34859 non-null object
TotalPagesViewed                         255842 non-null int64
TotalWebVisitis                          255842 non-null int64
dtypes: float64(9), int64(3), object(36)
memory usage: 93.7+ MB

In [35]:
# see data types
data.dtypes
# TO DO; modify data types

C_Country                                 object
C_DateCreated                             object
C_DateModified                            object
C_Firm_Type1                              object
C_Function___Role_Type1                   object
C_Last_Direct_Push_to_CRM_Date1           object
C_Lead_Score                              object
C_Lead_Source___Most_Recent1              object
C_Lead_Source___Original1                 object
C_MQL_Date1                               object
C_MQL_Model1                              object
C_Most_Recent_Source_Description1         object
C_Product_Solution_of_Interest1          float64
C_Recycle_Date1                           object
C_Region1                                float64
C_Segment1                                object
C_State_Prov                              object
C_Sub_Segment1                           float64
C_Title                                   object
C_Unsubscribe_from_Product_Training_1    float64
C_Unsubscribed_from_Industry_1           float64
C_Unsubscribed_from_Marketing_1           object
C_Zip_Postal                              object
Contact/Lead Score                        object
Days to Closed Opportunity               float64
Days to Opportunity                      float64
Derived Direct Product Leads             float64
FirstVisitDate                            object
Global/Individual Account                 object
IS SAL?                                   object
Number of Records                          int64
Opportunity Close Date                    object
Opportunity Created Date                  object
Opportunity ID                            object
Opportunity Recurring ACV (USD)          float64
Opportunity Sales Stage                   object
Opportunity Type                          object
Passback Reason                           object
Product of Interest                       object
Product                                   object
Sales Assigned Date                       object
Sales Task Created Date                   object
Selling Team                              object
Task Owner Selling Team                   object
Task Priority                             object
Task Status                               object
TotalPagesViewed                           int64
TotalWebVisitis                            int64
dtype: object

In [37]:
data.describe()

,C_Product_Solution_of_Interest1,C_Region1,C_Sub_Segment1,C_Unsubscribe_from_Product_Training_1,C_Unsubscribed_from_Industry_1,Days to Closed Opportunity,Days to Opportunity,Derived Direct Product Leads,Number of Records,Opportunity Recurring ACV (USD),TotalPagesViewed,TotalWebVisitis
count,0.0,0.0,0.0,197105.0,250898.000000,2902.000000,2902.000000,34859.000000,255842.0,2902.000000,255842.000000,255842.000000
mean,NaN,NaN,NaN,1.0,0.999992,245.699173,77.033081,0.340142,1.0,14911.104633,103.428991,27.703759
std,NaN,NaN,NaN,0.0,0.002823,216.695236,255.024449,0.473763,0.0,29558.069170,504.105115,110.731322
min,NaN,NaN,NaN,1.0,0.000000,-972.000000,-2924.000000,0.000000,1.0,0.000000,1.000000,1.000000
25%,NaN,NaN,NaN,1.0,1.000000,85.000000,5.000000,0.000000,1.0,3925.723080,3.000000,1.000000
50%,NaN,NaN,NaN,1.0,1.000000,217.000000,45.000000,0.000000,1.0,9500.000000,8.000000,3.000000
75%,NaN,NaN,NaN,1.0,1.000000,388.000000,198.000000,1.000000,1.0,16442.310000,34.000000,11.000000
max,NaN,NaN,NaN,1.0,1.000000,1158.000000,674.000000,1.000000,1.0,550000.000000,36423.000000,4473.000000

In [38]:
# describe non-numeric columns
data.describe(include=['object'])

,C_Country,C_DateCreated,C_DateModified,C_Firm_Type1,C_Function___Role_Type1,C_Last_Direct_Push_to_CRM_Date1,C_Lead_Score,C_Lead_Source___Most_Recent1,C_Lead_Source___Original1,C_MQL_Date1,...,Opportunity Type,Passback Reason,Product of Interest,Product,Sales Assigned Date,Sales Task Created Date,Selling Team,Task Owner Selling Team,Task Priority,Task Status
count,221806,255842,255842,106659,100675,28458,12555,206046,209104,39051,...,2902,4574,15824,2902,34851,34859,2895,34498,34859,34859
unique,371,52246,12750,69,246,5451,6,132,150,10690,...,1,5,128,78,726,11854,40,57,3,4
top,United States,7/8/2013 7:06,2/23/2018 0:42,Registered Investment Advisory Firm (RIA),Registered Investment Advisor/Financial Planner,6/8/2018 16:53,A3,Sales/CRM,Sales/CRM,3/18/2017 0:00,...,New,Timeline,Morningstar Direct,Direct- License,8/16/2017 0:00,8/16/2017 17:44,DTA - External,DTA - Internal,Normal,Completed
freq,73215,14302,13635,26823,21865,521,6570,88873,124086,671,...,2902,3615,7576,1876,1096,269,1425,13667,20001,29336

In [ ]:
# determine how complete data is

In [40]:
data.loc[data.loc[:, 'C_Country'].isnull(), :]

,C_Country,C_DateCreated,C_DateModified,C_Firm_Type1,C_Function___Role_Type1,C_Last_Direct_Push_to_CRM_Date1,C_Lead_Score,C_Lead_Source___Most_Recent1,C_Lead_Source___Original1,C_MQL_Date1,...,Product of Interest,Product,Sales Assigned Date,Sales Task Created Date,Selling Team,Task Owner Selling Team,Task Priority,Task Status,TotalPagesViewed,TotalWebVisitis
14,NaN,4/18/2018 17:42,4/19/2018 10:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
19,NaN,2/10/2017 10:03,10/16/2017 14:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1
25,NaN,12/14/2016 10:58,10/16/2017 14:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,4
55,NaN,11/9/2016 16:19,10/16/2017 14:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,1
58,NaN,11/9/2016 16:19,10/16/2017 14:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
63,NaN,12/14/2016 10:58,2/23/2018 0:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
71,NaN,11/9/2016 16:19,5/26/2018 11:11,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,4
87,NaN,12/13/2016 16:57,10/16/2017 14:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
88,NaN,7/24/2018 5:02,7/31/2018 12:33,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
90,NaN,12/13/2016 16:57,10/16/2017 14:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
91,NaN,11/9/2016 16:19,10/16/2017 14:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,5
97,NaN,9/28/2016 15:07,10/16/2017 14:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
98,NaN,2/14/2017 9:25,10/16/2017 14:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95,42
116,NaN,11/9/2016 16:19,10/16/2017 14:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
122,NaN,6/7/2016 3:11,2/20/2018 13:49,NaN,NaN,NaN,NaN,Morningstar Hosted Event,Morningstar Hosted Event,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
128,NaN,6/7/2017 11:11,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,Corporate Site,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
137,NaN,12/13/2016 16:57,2/23/2018 0:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
147,NaN,11/9/2016 16:19,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1
148,NaN,12/9/2016 17:05,10/16/2017 14:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
151,NaN,11/9/2016 16:19,10/16/2017 14:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
164,NaN,11/9/2016 16:19,2/23/2018 0:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
165,NaN,3/10/2014 13:44,2/23/2018 0:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
169,NaN,10/28/2016 15:43,10/16/2017 14:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,3
170,NaN,12/9/2016 17:04,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,8
174,NaN,5/4/2018 5:00,5/25/2018 12:22,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2
175,NaN,7/5/2016 2:17,4/13/2018 1:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
178,NaN,12/13/2016 16:57,10/16/2017 14:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,582,66
189,NaN,1/10/2016 10:21,10/16/2017 14:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,3
194,NaN,12/9/2016 17:04,10/16/2017 14:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
203,NaN,12/9/2016 17:04,5/26/2018 11:57,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255611,NaN,12/13/2016 16:57,10/16/2017 13:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,2
255612,NaN,11/9/2016 16:19,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255618,NaN,5/9/2016 12:36,5/14/2018 15:28,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,4
255622,NaN,12/13/2016 16:57,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3
255623,NaN,7/3/2018 5:00,7/25/2018 12:32,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
255634,NaN,4/3/2017 9:35,10/16/2017 14:24,Other,Consulting,NaN,NaN,Corporate Site,Corporate Site,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,5
255644,NaN,2/14/2017 9:25,10/16/2017 14:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179,80
255645,NaN,7/13/2016 11:57,10/16/2017 14:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
255655,NaN,12/9/2016 17:04,10/16/2017 14:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255671,NaN,12/13/2016 16:57,10/16/2017 13:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,13
255705,NaN,11/9/2016 16:19,10/16/2017 14:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255716,NaN,8/22/2017 1:11,2/23/2018 0:41,Other,Investment Advisory,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
255717,NaN,11/23/2016 8:37,10/16/2017 14:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255721,NaN,2/10/2017 10:02,10/16/2017 14:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,1
255725,NaN,12/8/2014 11:18,12/6/2017 17:17,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
255731,NaN,4/7/2016 9:41,10/16/2017 14:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255732,NaN,1/9/2015 9:59,10/16/2017 14:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,11
255737,NaN,6/5/2017 6:36,2/23/2018 0:42,Other,Retirement Plan Administration,NaN,NaN,Corporate Site,Corporate Site,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,3
255741,NaN,6/29/2016 11:59,10/16/2017 14:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
255745,NaN,11/9/2016 16:19,10/16/2017 14:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255750,NaN,11/9/2016 16:19,10/16/2017 14:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,26
255760,NaN,5/13/2018 5:00,5/13/2018 14:05,NaN,NaN,NaN,NaN,Sales/CRM,Sales/CRM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,7
255761,NaN,2/10/2017 10:06,10/16/2017 14:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,499,334
255764,NaN,3/18/2017 14:41,10/16/2017 14:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
255791,NaN,11/9/2016 16:19,10/16/2017 14:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255820,NaN,11/9/2016 16:19,10/16/2017 14:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
255824,NaN,12/13/2016 16:57,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255833,NaN,12/9/2016 17:04,10/16/2017 14:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
255838,NaN,12/13/2016 16:57,10/16/2017 14:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621,185
255840,NaN,3/10/2017 15:36,2/23/2018 0:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240,33

In [43]:
data.loc[:, 'C_Country'].isnull().sum()

34036

In [44]:
data.loc[:, 'C_Firm_Type1'].isnull().sum()

149183

In [45]:
data.loc[:, 'C_Function___Role_Type1'].isnull().sum()

155167

In [46]:
data.loc[:, 'C_Lead_Source___Original1'].isnull().sum()

46738

Appears to be a lot of missing data.

In [47]:
ax = data.loc[:, 'C_Country'].plot(kind='hist', bins=3);

TypeError: Empty 'DataFrame': no numeric data to plot

After this initial EDA, I've determined that this data set likely won't work for the project. For one, there was much difficulty in acquiring it in a useable format in the first place (hence, my delay in submitting). This makes me question how reliable the data is. Two, the dataset is messy and very incomplete, as noted by the many missing data points. It's too incomplete to derive the information I need. For next steps, I will move onto my back up plan and pick up the project from there.